.chatBubble {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.chatBubble_info {
  border-radius: 6px;
  background-color: #045052;
  padding: 4px;
  margin-right: 90px;
  max-width: 350px;
}
.chatReply_info_text_and_date {
  display: flex;
  max-width: 350px;
}
.chatBubble_info_name {
  color: rgb(255, 166, 0);
  font-size: 16px;
  margin-left: 8px;
  padding: 2px;
}
.chatBubble_info_timestamp {
  align-self: flex-end;
  color: rgb(216, 211, 211);
  font-size: 11px;
  position: relative;
  padding: 2px;
}
.chatBubble_info_text {
  padding: 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  word-break: break-all;
}
@media only screen and (max-width: 570px) {
  .chatBubble_info {
    max-width: 220px;
  }
  .chatBubble_info_name {
    font-size: 14px;
  }
  .chatBubble_info_text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .chatBubble_info {
    margin-right: 5px;
    max-width: 280px;
  }
  .chatBubble_info_name {
    font-size: 14px;
  }
}
@media only screen and (max-width: 992px) {
  .chatBubble_info {
    margin-right: 30px;
    max-width: 280px;
  }
}
