.chatReply {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}
.chatReply_info {
  border-radius: 6px;
  display: flex;
  background-color: #262d31;
  padding: 4px;
  margin-left: 60px;
  max-width: 350px;
}
.chatReply_info_timestamp {
  align-self: flex-end;
  color: rgb(216, 211, 211);
  font-size: 11px;
  position: relative;
  padding: 2px;
}
.chatReply_info_text {
  padding: 10px;
  font-size: 16px;
}
