.chatReply {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}
.chatReply_info {
  border-radius: 6px;
  background-color: #262d31;
  padding: 4px;
  margin-left: 60px;
  max-width: 350px;
}
.chatReply_info_text_and_date {
  display: flex;
  max-width: 350px;
}
.chatReply_info_name {
  color: rgb(0, 255, 221);
  font-size: 16px;
  margin-left: 8px;
  padding: 2px;
}
.chatReply_info_timestamp {
  align-self: flex-end;
  color: rgb(216, 211, 211);
  font-size: 10px;
  position: relative;
  padding: 2px;
}
.chatReply_info_text {
  padding: 10px;
  font-size: 16px;
  word-break: break-all;
}
@media only screen and (max-width: 570px) {
  .chatReply_info {
    max-width: 220px;
  }
  .chatReply_info_name {
    font-size: 14px;
  }
  .chatReply_info_text {
    font-size: 14px;
  }
  .chatReply_info_timestamp {
    font-size: 8px;
  }
}
@media only screen and (max-width: 768px) {
  .chatReply_info {
    margin-left: 5px;
    max-width: 280px;
  }
  .chatReply_info_name {
    font-size: 14px;
  }
  .chatReply_info_text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 992px) {
  .chatReply_info {
    margin-left: 30px;
    max-width: 280px;
  }
}
